.section {
  margin-top: 10;
  margin-bottom: 10;
}

.error {
  color: #f04040;
}

.form {
  width: 100%;
  max-width: 800;
  margin: 0 auto;
}

.fullContainer {
  height: 100vh;
}

.mapInputBox {
  position: absolute;
  display: flex;
  left: 0;
  right: 0;
  margin: 10px auto;
  width: 300;
  height: 40;
  & input {
    width: 250;
  }
}
